:root{
    --background: #30343f;
    --background2: #373b47;
    --foreground: #d3dae3;
    --quit: #d3dae399;
    --highlight: #4fc872;
    --highlight-opacity: #4fc87220;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Code" ;
	font-size: 12px;
    border: 0;
    border-radius: 0;
    line-height: 1;
    outline: none;
    box-shadow: none;
    border: 0;
}

*:focus{
    outline: none;
}

.box {
    background: var(--background);
}

.header{
    padding: 20px;
    font-size: 20px;
    background: var(--background);
    color: white;
}

.item{
    background: var(--background);
    color: var(--foreground);
    margin: 0px;
    padding: 10px;
    border-left: 10px solid var(--background);
    border-right: 10px solid var(--background);

}

.output{
    background: var(--background);
    padding: 0;
    margin: 0;
}
/*
 * Custom OUTPUT type
 */

.clock{
    color: var(--highlight);
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    margin-top: 20px;
}

/*
 * SEPARATOR
 */
.separator{
    background: var(--highlight);
    padding: 0px;
}
.horizontal .separator{
    margin: 20px 0px;
}
.vertical .separator{
    margin: 0px 20px;
}

/*
 * GROUP
 */
.group{
    padding: 5px;   
    margin: 10px;
    border: 1px solid var(--background2);
    border-radius: 5px;
}

/*
 * RUNNER
 */
.runner_label{
    color: var(--highlight);
    padding: 10px;
    margin: 10px;
}

.input{
    background: var(--background2);
    color: var(--foreground);
    padding: 10px;
    border-left: 10px solid var(--highlight-opacity);
    border-right: 10px solid var(--highlight-opacity);
    outline: none;
    border-radius: 5px;

}

.input:focus,
.input:active{
    border-left: 10px solid var(--highlight);
    border-right: 10px solid var(--highlight);  
}

/*
 * BUTTONS
 */
.button{
    border-radius: 5px;
    margin: 0px 20px;
}

.button:focus{
    border-left: 10px solid var(--highlight);
    border-right: 10px solid var(--highlight);
    background: var(--highlight-opacity);
}

.button:hover{
    background: var(--highlight);
    color: var(--background);
    border-left: 10px solid var(--highlight);
    border-right: 10px solid var(--highlight);
}

/*
 * QUIT BUTTON
 */
.button.quit{
    background: var(--background);
    color: var(--quit);
    font-size: 10px;
    margin: 10px 20px;
}
.button.quit:focus,
.button.quit:hover{
    background: var(--background);
    color: var(--highlight);
}